<form id="file-search" name="search" class="form-group"
  ng-class="{ 'has-error': search.query.$invalid }">

  <button class="btn btn-default height36" type="button"
    ng-hide="fileSearchCtrl.isSearchOpen"
    ng-click="fileSearchCtrl.isSearchOpen = !fileSearchCtrl.isSearchOpen">
    <span class="padding8 glyphicon glyphicon-search"></span>
  </button>

  <input type="text" id="file-search-input" name="query" class="height36 form-control"
    focus-me="fileSearchCtrl.isSearchOpen"
    ng-show="fileSearchCtrl.isSearchOpen"
    ng-minlength="3"
    ng-change="fileSearchCtrl.search(fileSearchCtrl.searchQuery)"
    ng-model-options="{ debounce : 200 }"
    ng-model="fileSearchCtrl.searchQuery">

  <p ng-show="search.query.$invalid">3 caractères minimum</p>

  <button class="btn btn-default" type="button"
    ng-show="fileSearchCtrl.isSearchOpen"
    ng-click="fileSearchCtrl.closeSearch()">
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
  </button>

</form>
