<div id="file-search">
  <button class="btn btn-default height36" type="button"
    ng-hide="fileSearchCtrl.isSearchOpen"
    ng-click="fileSearchCtrl.isSearchOpen = !fileSearchCtrl.isSearchOpen">
    <span class="padding8 glyphicon glyphicon-search"></span>
  </button>

  <input type="text" id="file-search-input" class="height36"
    focus-me="fileSearchCtrl.isSearchOpen"
    ng-show="fileSearchCtrl.isSearchOpen"
    ng-change="fileSearchCtrl.search(fileSearchCtrl.searchQuery)"
    ng-model-options=" { debounce : 200 } "
    ng-model="fileSearchCtrl.searchQuery">

  <button class="btn btn-default" type="button"
    ng-show="fileSearchCtrl.isSearchOpen"
    ng-click="fileSearchCtrl.closeSearch()">
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
  </button>
</div>
