<table ng-show="{{ filesList.files.length !== 0 || filesList.folders.length !== 0  }}" class="table table-hover">
  <thead>
    <tr>
      <td>Nom</td>
      <td>Actions</td>
      <td>Propriétaire</td>
      <td>Dernière modification</td>
      <td>Taille du fichier</td>
      <td>License</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td ng-click="filesList.backFolder()">Back</td><td/><td/><td/><td/><td/>
    </tr>
    <tr ng-repeat="folder in filesList.folders">
      <td ng-click="filesList.openFolder(folder.name)">{{ folder.name }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr ng-repeat="file in filesList.files">
      <td>{{ file.name }}</td>
      <td><button type="button" class="btn btn-default" aria-label="Actions disponibles"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></button></td>
      <td>{{ file.owner }}</td>
      <td>{{ file.last_modification_date | date : 'd MMM yyyy' }}</td>
      <td>{{ file.size | formatByte }}</td>
      <td>{{ file.licence }}</td>
    </tr>
  </tbody>
</table>

<div ng-show="{{ filesList.files.length === 0 && filesList.folders.length === 0 }}">
  <h1>Nothing here</h1>
</div>
