<div ng-if="detailsPaneCtrl.details.name && detailsPaneCtrl.details.size"
 ng-controller="ContextMenuController as ctxMenulCtrl">
  <h3 class="flex">
    <span class="{{ detailsPaneCtrl.details.mimetype | mimetypeIcon }}"></span> <span class="file-name ellipsis-content">{{ detailsPaneCtrl.details.name }}</span>
  </h3>

  <separator></separator>

  <details-pane-data datasource="detailsPaneCtrl.details.size | formatByte" dataname="'Taille'"></details-pane-data>
  <!-- <details-pane-data datasource="detailsPaneCtrl.details.path" dataname="'Emplacement'"></details-pane-data> -->
  <details-pane-data datasource="detailsPaneCtrl.details.creation_date" dataname="'Créé le'"></details-pane-data>
  <details-pane-data datasource="detailsPaneCtrl.details.last_modification_date" dataname="'Dernière modification'"></details-pane-data>
  <br>
  <details-pane-data datasource="detailsPaneCtrl.details.owner" dataname="'Propriétaire'"></details-pane-data>
  <details-pane-data datasource="detailsPaneCtrl.details.license" dataname="'Licence'"></details-pane-data>
  <details-pane-data datasource="detailsPaneCtrl.details.permissions" dataname="'Permissions'"></details-pane-data>

  <separator></separator>

  <button class="btn btn-default" type="button" ><span class="glyphicon glyphicon-pencil"></span> Ajouter une description</button>
  <button class="btn btn-default" type="button" ng-click="ctxMenulCtrl.deleteFileDialog(detailsPaneCtrl.details)"><span class="glyphicon glyphicon-remove-sign" ></span> Supprimer</button>
</div>

<div ng-if="detailsPaneCtrl.details.name && !detailsPaneCtrl.details.size">
  <h3><span class="{{ 'folder' | mimetypeIcon }}"></span> {{ detailsPaneCtrl.details.name }}</h3>

  <separator></separator>

  <details-pane-data datasource="detailsPaneCtrl.details.folder | folderPath" dataname="'Location'"></details-pane-data>
</div>

<div ng-if="!detailsPaneCtrl.details.name">
  <h3><span class="{{ 'default-icon' | mimetypeIcon }}"></span> Sélectionner un fichier ou un dossier</h3>

  <separator></separator>
</div>
