html, body {
    height: 100%;
}

thead {
    font-weight: bold;
}

/* Main page squeletton */

#flex-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#main-title {
    padding: 8px;
}

#toolbar {
    display: flex;
    background-color: #f5f5f5;
    margin: 0;
    height: 36px;
}

#breadcrumb {
    flex: 1;
}

ol.breadcrumb {
    margin-bottom: 0;
}

add-file-button {
    display: inline-block;
}

#add-file-button {
    background: none;
    border: none;
    outline: none;
}

#files-explorer {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#files-list {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Details pane */

#details-pane {
    border-left: 1px solid #ddd;
    padding: 8px;
    margin-left: 8px;
    min-width: 0;
}

#details-table > tr > td {
    padding: 8px;
}

#details-pane .file-name {
    word-break: break-word;
    white-space: initial;
    line-height: 30px;
}

.details-pane-data-cell {
    display: flex;
}

.details-pane-data-name {
    flex: 0 0 100px;
}

.details-pane-data-value {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*td.separator {
    padding-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
}*/

/* Right tools, search, details, settings */

#right-tools {
    display: flex;
}

#right-tools .glyphicon {
    margin: 0;
    cursor: pointer;
}

#right-tools .btn-default {
    background: none;
    border: 1px solid #f5f5f5;
    padding: 0 3px;
}

#right-tools .btn-default:hover {
    border: 1px solid #ddd;
    padding: 0 3px;
}

#right-tools .btn-default:active {
    border: 1px solid gray;
    padding: 0 3px;
}

#right-tools .btn-default.active {
    border: 1px solid gray;
    padding: 0 3px;
}

#right-tools .btn-default:hover > .glyphicon {
    color: #38d;
}

#right-tools .btn-default:active > .glyphicon {
    color: #38d;
}

#file-menu {
    position: absolute;
}

/* Dropzone */

#drop-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
}

#dropzone #files-list tbody {
    border: 3px dashed transparent;
    transition: border-color .5s ease-in-out;
    z-index: 1000;
}

#dropzone tr {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

#dropzone-modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#dropzone-text {
    display: inline-block;
    background: #38d;
    padding: 16px;
    bottom: 0;
    color: white;
    margin: 0 auto 8px;
    border: solid 4px #38d;
    border-radius: 4px;
}

#dropzone-folder-name {
    text-align: center;
    margin-left: -16px;
    font-weight: bold;
}

#dropzone-new-folder.dragover {
    opacity: 1;
}

/* Drop context */

#dropzone.dragover #files-list tbody,
#dropzone-new-folder.dragover {
    border: 3px dashed #38d;
}

#dropzone.dragover tr {
    opacity: 0.6;
}

#dropzone.dragover #dropzone-new-folder {
    opacity: 1;
}

/* General utils classes */
.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.pull-right-flex {
    margin-left: auto;
}

.width100 {
    width: 100%;
}

.height36 {
    height: 36px;
}

.pointer {
    cursor: pointer;
}

.padding8 {
    padding: 8px;
}

.valign-bottom {
    vertical-align: bottom;
}

.glyphicon {
    margin-right: 8px;
    color: cornflowerblue;
}

.glyphicon.white {
    color: white;
}

.file-selected {
    background-color: lightblue;
}

.open.dropdown-menu {
    display: block;
}

.discret {
    color: #565656;
    font-size: 11px;
    cursor: pointer;
}

.separator-container {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
}

.separator {
    border-top: 1px solid #e1e1e1;
}

.ellipsis-content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Notifications */

#notifications {
  position: fixed;
  z-index: 9000; /* It's over ... ! */
  top: 0; left: 0; bottom: 57%; right: 0;
  margin: auto;
  width: 300px;
  height: 250px;
}

.ui-notification:hover
{
    opacity: .7;
}

.toast__message {
    cursor: pointer;
}


/* fix for strange bootstrap modal bug */
body.modal-open {
    padding-right: 0px !important;
}

/* search indicator */
#search-indicator {
	margin-left: 20px;
	margin-top: 10px;
	font-size: 2em;
	display: none;
}

#search-indicator i.glyphicon {
	color: #98AACB;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}