<ul class="open dropdown-menu">
  <li ng-if="menu == 'file'" ng-click="download()"><a href="#"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Rename</a></li>
  <li role="separator" class="divider"></li>
  <li ng-click="fileMenuCtrl.deleteFile(file)"><a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a></li>
</ul>
