<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="cumulus" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="cumulus" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="cumulus" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="cumulus" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cumulus</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/ngtoast/dist/ngToast.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div id="flex-content">

    <h1 id="main-title"><span class="glyphicon glyphicon-cloud valign-bottom" aria-hidden="true"></span> Cumulus</h1>

    <div id="toolbar">
      <div id="breadcrumb" ng-if="!nbSearchResults">
        <breadcrumbs></breadcrumbs>
      </div>

      <div id="right-tools" ng-class="{ width100: nbSearchResults }">
        <div id="nb-search-results" class="flex1 padding8" class="padding8"
          ng-if="nbSearchResults">
          Résultats: {{ nbSearchResults }}
        </div>
        <filesearch></filesearch>
        <button class="btn btn-default" type="button"
          ng-click="isDetailsPaneOpened = !isDetailsPaneOpened"
          ng-class="{ active: isDetailsPaneOpened }">
          <span class="padding8 glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default" type="button">
          <span class="padding8 glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <div id="files-explorer">

      <div id="dropzone" class="flex1"
        ng-controller="AddFilesController as addFilesCtrl"
        name="fileUpload"
        ngf-drop
        ng-model="files"
        ngf-drag-over-class="'dragover'"
        ngf-multiple="true"
        ngf-allow-dir="true"
        ngf-drag="addFilesCtrl.drag($isDragging, $class, $event)">

        <div id="files-list-parent" ng-controller="FilesListController as filesListCtrl">
          <div id="search-indicator" ng-show="filesListCtrl.isSearching">
            <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
          </div>
          <div id="files-list"
            ng-show="! filesListCtrl.isSearching">
            <table id="files-table" ng-show="filesListCtrl.filesList.files.length !== 0 || filesListCtrl.filesList.folders.length !== 0" class="table table-hover">
              <thead>
                <tr>
                  <td class="col-md-5 col-lg-5">
                    <sort-head displayed-name="'Nom'" column="'name'" type="'text'" direction="'asc'" sorting-function="sortFiles(column, type, direction)"></sort-head>
                  </td>
                  <td class="col-md-2 col-lg-2">
                    <sort-head displayed-name="'Propriétaire'" column="'owner'" type="'text'" direction="'asc'" sorting-function="sortFiles(column, type, direction)"></sort-head>
                  </td>
                  <td class="col-md-2 col-lg-2">
                    <sort-head displayed-name="'Dernière modification'" column="'last_modification_date'" type="'date'" direction="'desc'" sorting-function="sortFiles(column, type, direction)"></sort-head>
                  </td>
                  <td class="col-md-1 col-lg-1">
                    <sort-head displayed-name="'Taille'" column="'size'" type="'number'" direction="'desc'" sorting-function="sortFiles(column, type, direction)"></sort-head>
                  </td>
                  <td class="col-md-1 col-lg-1">
                    <sort-head displayed-name="'Licence'" column="'license'" type="'text'" direction="'asc'" sorting-function="sortFiles(column, type, direction)"></sort-head>
                  </td>
                  <td class="col-md-1 col-lg-1"/>
                </tr>
              </thead>
              <tbody>
                <tr id="dropzone-new-folder" class="hide"
                  ng-model="filesNewFolder"
                  name="fileUploadInNewFolder"
                  ngf-drop
                  ngf-drag-over-class="'dragover'"
                  ngf-multiple="true"
                  ngf-allow-dir="true"
                  ngf-drag="addFilesCtrl.dragNewFolder($isDragging, $class, $event)"
                  ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                  <td>
                    <span ng-hide="hover" class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                    <span ng-show="hover" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    <span id="new-folder-plus" class="glyphicon glyphicon-plus hide" aria-hidden="true"></span>
                    <b>Nouveau dossier</b></td>
                  <td/>
                  <td/>
                  <td/>
                  <td/>
                  <td/>
                </tr>
                <!-- Folders list -->
                <tr ng-if="filesListCtrl.searchResultsFilesList.length == 0" ng-repeat="folder in filesListCtrl.filesList.folders" ng-dblclick="filesListCtrl.openFolder(folder.name)" ng-click="filesListCtrl.showDetails(folder)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                  <td>
                    <span ng-hide="hover" class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                    <span ng-show="hover" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    {{ folder.name }}
                  </td>
                  <td/>
                  <td/>
                  <td/>
                  <td/>
                  <td/>
                </tr>
                <!-- Files list -->
                <tr ng-if="filesListCtrl.searchResultsFilesList.length == 0"
                  ng-repeat="file in filesListCtrl.filesList.files"
                  data-context-menu="{{ filesListCtrl.contextMenuPrefix }}file-menu.html"
                  ng-model="file"
                  ng-click="filesListCtrl.showDetails(file)">
                  <td>
                    <span ng-class="filesListCtrl.fileIcon(file.mimetype)"></span> {{ file.name }}
                  </td>
                  <td>{{ file.owner }}</td>
                  <!-- <td>{{ file.last_modification_date | date : 'd MMM yyyy' }}</td> -->
                  <td data-toggle="tooltip" data-placement="top" title="{{ file.last_modification_date | date : 'd MMM yyyy' }}">
                    <span am-time-ago="file.last_modification_date"></span>
                    <!-- <span am-time-ago="file.last_modification_date" am-full-date-threshold="7" fullDateFormat="d MMM yyyy"></span> -->
                  </td>
                  <td ng-if="file.size != null">{{ file.size | formatByte }}</td><td ng-if="file.size == null"/>
                  <td><file-license license="{{ file.license }}"></file-license></td>
                  <td><a href="{{ filesListCtrl.downloadUrl() + file.name }}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                </tr>
                <!-- Search results files list -->
                <tr ng-repeat="file in filesListCtrl.searchResultsFilesList.files" data-context-menu="{{ filesListCtrl.contextMenuPrefix }}file-menu.html" ng-model="file" ng-click="showDetails(file)">
                <td>
                  <span ng-class="filesListCtrl.fileIcon(file.mimetype)"></span> {{ file.name }}
                  <span ng-click="filesListCtrl.openAbsoluteFolder(file.path); filesListCtrl.closeSearch()" class="discret"> (<file-path path="{{ file.path }}"></file-path>)</span>
                </td>
                <td>{{ file.owner }}</td>
                <td data-toggle="tooltip" data-placement="top" title="{{ file.last_modification_date | date : 'd MMM yyyy' }}">
                  <span am-time-ago="file.last_modification_date"></span>
                </td>
                <td ng-if="file.size != null">{{ file.size | formatByte }}</td><td ng-if="file.size == null"/>
                <td><file-license license="{{ file.license }}"></file-license></td>
                <td><a href="{{ filesListCtrl.downloadUrl() + file.name }}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
              </tr>
            </tbody>
          </table>
          <h1 ng-hide="addFilesCtrl.dropInNewFolder">-</h1>
          <h2 id="lolilol">-</h2>
            <div ng-if="filesListCtrl.filesList.files.length === 0 && filesListCtrl.filesList.folders.length === 0">
              <h3>Il n'y a rien ici...</h3>
            </div>
          </div>
        </div>
      </div>

      <div id="details-pane" ng-show="isDetailsPaneOpened">
        <details-pane></details-pane>
      </div>
    </div>
  </div>

  <div id="modal"></div>

  <div id="dropzone-modal" class="hide">
    <div id="dropzone-text">
      <p>Glisser-déposer des fichiers ici pour les envoyer vers:</p>
      <p id="dropzone-folder-name"><i class="glyphicon glyphicon-file white" aria-hidden="true"></i> folderName</p>
    </div>
  </div>

  <toast></toast>

<!--   <div id="notifications" ng-if="notification">
    <notifications-bar class="alert alert-success" role="alert">Pouet ! Il s'est passé un truc :) c'est fou</notifications-bar>
  </div>
 -->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="utils/autofocus.directive.js"></script>
  <!-- <script src="utils/mimetype-icon.directive.js"></script> -->
  <script src="utils/select-on-click.directive.js"></script>
  <script src="utils/main-config.js"></script>
  <script src="details-pane/details-pane.directive.js"></script>
  <script src="details-pane/data-cell.directive.js"></script>
  <script src="modal/modal.controller.js"></script>
  <script src="files/files.controller.js"></script>
  <script src="files/files.service.js"></script>
  <script src="files/add-files.controller.js"></script>
  <script src="breadcrumbs/breadcrumbs.directive.js"></script>
  <script src="breadcrumbs/breadcrumbs.service.js"></script>
  <script src="search/files-search.directive.js"></script>
  <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
  <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
  <script src="bower_components/ng-contextmenu/dist/ng-contextmenu.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/moment/locale/fr.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/ngtoast/dist/ngToast.js"></script>
</body>
</html>
