<div id="flex-content">

  <div id="toolbar">
    <div id="breadcrumb" ng-if="!nbSearchResults">
      <breadcrumbs></breadcrumbs>
    </div>

    <div id="right-tools" ng-class="{ width100: nbSearchResults }">
      <div id="nb-search-results" class="flex1 padding8" class="padding8"
        ng-if="nbSearchResults">
        Résultats: {{ nbSearchResults }}
      </div>
      <filesearch></filesearch>
      <button class="btn btn-default" type="button"
        ng-click="isDetailsPaneOpened = !isDetailsPaneOpened"
        ng-class="{ active: isDetailsPaneOpened }">
        <span class="padding8 glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      </button>
      <button class="btn btn-default" type="button" disabled>
        <span class="padding8 glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <div id="files-explorer">

    <div id="dropzone" class="flex1" ng-class="{ dragover: addFilesCtrl.dropTarget == 'currentFolder' }"
      ng-controller="AddFilesController as addFilesCtrl"
      name="fileUpload"
      ngf-drop
      ng-model="files"
      ngf-multiple="true"
      ngf-allow-dir="true"
      ngf-drag="addFilesCtrl.drag($isDragging, $class, $event)">

      <div id="files-list" ng-controller="FilesListController as filesListCtrl">
        <table id="files-table" ng-show="filesListCtrl.filesList.files.length !== 0 || filesListCtrl.filesList.folders.length !== 0" class="table table-hover">
          <thead>
            <tr>
              <td>
                <sort-head displayed-name="'Nom'" column="'name'" type="'text'" direction="'asc'" sorting-function="sortFiles(column, type, direction)"></sort-head>
              </td>
              <td>
                <sort-head displayed-name="'Propriétaire'" column="'owner'" type="'text'" direction="'asc'" sorting-function="sortFiles(column, type, direction)"></sort-head>
              </td>
              <td>
                <sort-head displayed-name="'Dernière modification'" column="'last_modification_date'" type="'date'" direction="'desc'" sorting-function="sortFiles(column, type, direction)"></sort-head>
              </td>
              <td>
                <sort-head displayed-name="'Taille'" column="'size'" type="'number'" direction="'desc'" sorting-function="sortFiles(column, type, direction)"></sort-head>
              </td>
              <td>
                <sort-head displayed-name="'Licence'" column="'license'" type="'text'" direction="'asc'" sorting-function="sortFiles(column, type, direction)"></sort-head>
              </td>
              <td/>
            </tr>
          </thead>
          <tbody>
            <tr id="dropzone-new-folder" class="new-folder-element" ng-class="{ dragover: addFilesCtrl.dropTarget == 'newFolder' }"
              ng-show="addFilesCtrl.dropTarget"
              ng-model="filesNewFolder"
              name="fileUploadInNewFolder"
              ngf-drop
              ngf-multiple="true"
              ngf-allow-dir="true"
              ngf-drag="addFilesCtrl.drag($isDragging, $class, $event)"
              ng-mouseenter="hover=true" ng-mouseleave="hover=false">
              <td>
                <span ng-hide="hover" class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                <span ng-show="hover" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                <span id="new-folder-plus" class="glyphicon glyphicon-plus hide" aria-hidden="true"></span>
                <b>Nouveau dossier</b></td>
              <td/>
              <td/>
              <td/>
              <td/>
              <td/>
            </tr>

            <!-- Folders list -->
            <tr class="folder-element" ng-if="filesListCtrl.searchResultsFilesList.length == 0" ng-repeat="folder in filesListCtrl.filesList.folders" ng-dblclick="filesListCtrl.openFolder(folder.name)" ng-click="filesListCtrl.showDetails(folder)" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
              <td>
                <span ng-hide="hover" class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                <span ng-show="hover" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                {{ folder.name }}
              </td>
              <td/>
              <td/>
              <td/>
              <td/>
              <td/>
            </tr>

            <!-- Files list -->
            <tr class="file-element" ng-if="filesListCtrl.searchResultsFilesList.length == 0"
              ng-repeat="file in filesListCtrl.filesList.files"
              data-context-menu="{{ filesListCtrl.contextMenuPrefix }}file-menu.html"
              ng-model="file"
              ng-click="filesListCtrl.showDetails(file)">
              <td>
                <span ng-class="filesListCtrl.fileIcon(file.mimetype)"></span> {{ file.name }}
              </td>
              <td>{{ file.owner }}</td>
              <!-- <td>{{ file.last_modification_date | date : 'd MMM yyyy' }}</td> -->
              <td data-toggle="tooltip" data-placement="top" title="{{ file.last_modification_date | date : 'd MMM yyyy' }}">
                <span am-time-ago="file.last_modification_date"></span>
                <!-- <span am-time-ago="file.last_modification_date" am-full-date-threshold="7" fullDateFormat="d MMM yyyy"></span> -->
              </td>
              <td ng-if="file.size != null">{{ file.size | formatByte }}</td><td ng-if="file.size == null"/>
              <td><file-license license="{{ file.license }}"></file-license></td>
              <td><a href="{{ filesListCtrl.downloadUrl() + file.name }}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
            </tr>

            <!-- Search results files list -->
            <tr ng-repeat="file in filesListCtrl.searchResultsFilesList.files"
              data-context-menu="{{ filesListCtrl.contextMenuPrefix }}file-menu.html"
              ng-model="file"
              ng-click="showDetails(file)">
              <td>
                <span ng-class="filesListCtrl.fileIcon(file.mimetype)"></span> {{ file.name }}
                <span ng-click="filesListCtrl.openAbsoluteFolder(file.path); filesListCtrl.closeSearch()" class="discret"> (<file-path path="{{ file.path }}"></file-path>)</span>
              </td>
              <td>{{ file.owner }}</td>
              <td data-toggle="tooltip" data-placement="top" title="{{ file.last_modification_date | date : 'd MMM yyyy' }}">
                <span am-time-ago="file.last_modification_date"></span>
              </td>
              <td ng-if="file.size != null">{{ file.size | formatByte }}</td><td ng-if="file.size == null"/>
              <td><file-license license="{{ file.license }}"></file-license></td>
              <td><a href="{{ filesListCtrl.downloadUrl() + file.name }}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
            </tr>
          </tbody>
        </table>

        <div ng-if="filesListCtrl.filesList.files.length === 0 && filesListCtrl.filesList.folders.length === 0">
          <h3>Il n'y a rien ici...</h3>
        </div>

      </div>
    </div>

    <div id="details-pane" class="flex1" ng-show="isDetailsPaneOpened">
      <details-pane></details-pane>
    </div>
  </div>
</div>

<div id="modal"></div>

<!-- <div id="dropzone-modal" class="hide">
  <div id="dropzone-text">
    <p>Drop files to upload them to:</p>
    <p id="dropzone-folder-name"><i class="glyphicon glyphicon-file white" aria-hidden="true"></i> folderName</p>
  </div>
</div> -->

<toast></toast>
